<div class='col-xs-12'>
<div class='page-header'>
    <h1 class='pull-left'>
        <i class='icon-dashboard'></i>
        <span>Home</span>
    </h1>
</div>
<div class='row'>
    <div class='col-sm-6'>
        <div class='box'>
            <div class='box-header'>
                <div class='title'>
                    <div class='icon-inbox'></div>
                    Inbox
                </div>
                <div class='actions'>
                    <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                    </a>

                    <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                    </a>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='box-content box-statistic'>
                        <h3 class='title text-error'>{{dashboard.inbox.request}}</h3>
                        <small><a href="/roofer/inbox">Neue Auftr&auml;ge</a></small>
                        <div class='text-error icon-plus align-right'></div>
                    </div>
                    <div class='box-content box-statistic'>
                        <h3 class='title text-info'>{{dashboard.inbox.total}}</h3>
                        <small><a href="/roofer/inbox">Auftr&auml;ge insgesamt</a></small>
                        <div class='text-info icon-inbox align-right'></div>
                    </div>
                    <div class='box-content box-statistic'>
                        <h3 class='title text-primary'>{{nextJob.StartDate | date: 'HH:mm' || 'nichts zu tun'}} Uhr</h3>
                        <small><a href="job_start.html">N&auml;chster Termin</a></small>
                        <div class='text-primary icon-time align-right'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-sm-6'>
        <div class='box'>
            <div class='box-header'>
                <div class='title'>
                    <i class='icon-group'></i>
                    Jobs
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='box-content box-statistic'>
                        <h3 class='title text-success'>{{dashboard.jobs.completed}}</h3>
                        <small>Erledigt</small>
                        <div class='text-success icon-ok align-right'></div>
                    </div>
                    <div class='box-content box-statistic'>
                        <h3 class='title text-info'>{{dashboard.jobs.started}}</h3>
                        <small>Am Laufen</small>
                        <div class='text-info icon-check align-right'></div>
                    </div>
                    <div class='box-content box-statistic'>
                        <h3 class='title text-muted'>{{dashboard.jobs.rejected}}</h3>
                        <small>Gek&uuml;ndigt</small>
                        <div class='text-muted icon-remove align-right'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row recent-activity">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <div class="title">
                            <i class="icon-refresh"></i>
                            Anstehende Jobs
                        </div>
                        <div class="actions">
                            <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
                            </a>

                            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-content box-no-padding">
                        <ul class="nav nav-tabs nav-tabs-simple">
                            <li class="active">
                                <a data-toggle="tab" class="green-border" href="#heute"><i class="icon-user text-green"></i>
                                    Heute
                                </a>

                            </li>
                            <li>
                                <a data-toggle="tab" class="orange-border" href="#woche">Diese Woche
                                    <i class="icon-calendar text-orange"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="heute">
                                <ul class="list-unstyled comments list-hover list-striped">
                                    <li ng-repeat="job in dashboard.comingUp  | orderBy: 'StartDate' | filter:onlyToday()">
                                        <dashboard-job job="{{job}}" />
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="woche">
                                <ul class="list-unstyled comments list-hover list-striped">
                                    <li ng-repeat="job in dashboard.comingUp | orderBy: 'StartDate'">
                                        <dashboard-job job="{{job}}" />
                                    </li>
                                </ul>
                                <div class="load-more">
                                    <a id="comments-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class="icon-circle-arrow-down"></i>
                                        Mehr laden...
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>