<div class='col-xs-12'>
<div class='row'>
    <div class='col-sm-12'>
        <div class='page-header'>
            <h1 class='pull-left'>
                <i class='icon-table'></i>
                <span>Inbox</span>
            </h1>
        </div>
    </div>
</div>
<div class='row'>
<div class='col-sm-12'>
<div class='box bordered-box orange-border' style='margin-bottom:0;'>
<div class='box-header orange-background'>
    <div class='title'>Inbox</div>
    <div class='actions'>
        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
        </a>

        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
    </div>
</div>
<div class='box-content box-no-padding'>
<div class='responsive-table'>
<div class='scrollable-area'>
<table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
    <thead>
    <tr>
        <th>Aktion</th>
        <th>
            Name
        </th>
        <th>
            Auftragsart
        </th>
        <th>
            Adresse
        </th>
        <th>
            Jobtermin
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in rows">
  <td>
            <div class='text-right'>
                <a class='btn btn-success btn-xs has-tooltip' data-placement="top" data-original-title="Termin best&auml;tigen" href='inbox_detail.html'>
                    <i class='icon-ok'></i>
                </a>
                <a class='btn btn-danger btn-xs has-tooltip' data-placement="top" data-original-title="Termin l&ouml;schen" href='#'>
                    <i class='icon-remove'></i>
                </a>
            </div>
        </td>
        <td>{{item.Customer.fullName}}</td>
        <td>{{item.RoofType}}</td>
        <td>{{item.WorkSite.Street}}</td>
        <td>{{item.StartDate | date:'small'}}</td>
         </tr>

    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
    <div ng-show="rows.length < totalFound">showing: {{rows.length}} of {{totalFound}}</div>
    <button type="button" class="btn btn-default btn-lg" ng-click="loadMore()" ng-show="moreAvailable()">
        <span class="glyphicon glyphicon-star"></span> more...
    </button>
</div>