<div class='col-xs-12'>
<div class='row'>
    <div class='col-sm-12'>
        <div class='page-header'>
            <h1 class='pull-left'>
                <i class='icon-table'></i>
                <span>Jobs</span>
            </h1>
        </div>
    </div>
</div>
<div class='row'>
<div class='col-sm-12'>
<div class='box bordered-box orange-border' style='margin-bottom:0;'>
<div class='box-header orange-background'>
    <div class='title'>Jobs</div>
    <div class='actions'>
        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
        </a>

        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
    </div>
</div>
<div class='box-content box-no-padding'>
<div class='responsive-table'>
<div class='scrollable-area'>
<table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
<thead>
<tr>
    <th>Aktion</th>
    <th>
        Name
    </th>
    <th>
        Auftragsart
    </th>
    <th>
        Dachtyp
    </th>
    <th>
        Adresse
    </th>
    <th>
        Jobtermin
    </th>
    <th>
        Status
    </th>

</tr>
</thead>
<tbody>

<tr ng-repeat="job in rows">
    <td>
        <div class='text-right'>
            <a class='btn btn-info btn-xs' href='checklists.html'>
                <i class='icon-check'></i>
            </a>
            <a class='btn btn-success btn-xs' href='job_start.html'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-xs' href='job_end.html'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
    <td>{{job.Customer.fullName}}</td>
    <td>{{job.RoofType}}</td>
    <td>{{job.OrderType}}</td>
    <td>{{job.WorkSite.Street}}</td>

    <td>{{job.StartDate | date:'medium'}}</td>
    <td>
        <job-status status="{{job.Status}}" />
    </td>

</tr>
</tbody>
</table>

</div>

</div>
</div>
</div>
</div>
</div>
    <div ng-show="rows.length < totalFound">showing: {{rows.length}} of {{totalFound}}</div>
    <button type="button" class="btn btn-default btn-lg" ng-click="loadMore()" ng-show="moreAvailable()">
        <span class="glyphicon glyphicon-star"></span> more...
    </button>

</div>