extends ../../includes/layout

block css
    include ../../includes/main/site




block header
    div
        include ../../includes/main/header

block content
    div.container
        .row
            // Begin Sidebar Menu
            .col-md-3
                include ../../includes/site/dacharbeiten_sidebar_menu
            // End Sidebar Menu
            // Begin Content
            div.col-md-9
                .row.margin-bottom-10
                    .col-md-8
                        img.img-responsive.margin-bottom-20(src='https://s3-eu-west-1.amazonaws.com/roofcare/dacharbeiten_dachcheck.jpg', alt='Dacharbeiten Dachcheck')
                        p Der DachCheck ist eine erste Inaugenscheinnahme des Daches und seiner Komponenten.
                        p Es werden Dachtyp, Dachneigung, Größe, Einbauteile, Rinnen, Fallrohre, Dachfenster, klimatische Verhältnisse, Alter des Gebäudes und des Daches sowie Besonderheiten erfasst.
                        p Sie erhalten einen ausführlichen Zustandsbericht mit Checkliste der einzelnen Bauteile und einer Empfehlung, was eventuell instand zu setzen ist.
                        p Der Dachcheck ist die Basis für eine Dachwartung.
                        p Eine regelmäßige fachgerechte und dokumentierte Dachüberprüfung vom Profi, wie sie im Rahmen eines Wartungsvertrags durch die RoofCare erfolgt, schützt Hausbesitzer vor möglichen Kürzungen von Versicherungsleistungen bei der Gebäudeversicherung. Denn die Leistungspflicht besteht oft nur, wenn der Versicherungsnehmer seinen „Obliegenheitspflichten“ nachgekommen ist.
                        p Eine regelmäßige und professionelle Dachwartung durch die RoofCare sichert den Werterhalt des Gebäudes und verlängert die Lebensdauer des Daches.
                    .col-md-4
                        include ../../includes/site/uber_uns_contact_info
                // /row
            // End Content




block footer
    include ../../includes/main/footer

block scripts
    script.
        $(document).ready(function() {
            App.init();
        });
