extends ../../includes/layout

block css
    include ../../includes/main/site




block header
    div
        include ../../includes/main/header

block content
    div.container
        .row
            // Begin Sidebar Menu
            .col-md-3
                include ../../includes/site/dacharbeiten_sidebar_menu
            // End Sidebar Menu
            // Begin Content
            div.col-md-9
                .row.margin-bottom-10
                    .col-md-8
                        img.img-responsive.margin-bottom-20(src='https://s3-eu-west-1.amazonaws.com/roofcare/dacharbeiten_dachreparatur.jpg', alt='Dacharbeiten Dachreparatur')
                        p
                            | Das Dach gehört zu den am stärksten beanspruchten Gebäudeteilen, wodurch gerade Dachreparaturen alles andere als Kosmetik sind, sondern häufig gar aus Haftungsgründen unverzüglich durchgeführt werden müssen.
                            p Verantwortlich ist in jedem Fall der Gebäudeeigentümer.
                            p
                                | BGB § 836: Wird durch die Ablösung von Teilen eines Gebäudes ein Mensch getötet, die Gesundheit eines Menschen verletzt oder eine Sache beschädigt, so ist der Besitzer des Gebäudes zum Schadensersatz verpflichtet, sofern die Ablösung die Folge mangelhafter Unterhaltung ist.
                            p
                                | Nach aktuellen Urteilen der Oberlandesgerichte muss ein Dach Sturm und Einzelböen bis zu 12 Beaufort standhalten.
                            p
                                | Wir übernehmen nicht nur kleinere vorbeugende Reparaturen und die fachgerechte Wieder-Instandsetzung für Sie, sondern auch eine eventuelle Schadensabwicklung direkt mit Ihrem Versicherungsträger.
                            p
                                | Schnelles Handeln ist wichtig, schützt vor weiteren Schäden und spart somit Geld und Ärger. Sie schützen Ihre Bausubstanz und Ihre Investition.
                            p
                                | Übrigens: Auch bei Kleinreparaturen ist für uns eine vorsorgliche Begehung und Sichtkontrolle des gesamten Daches inbegriffen. Typische Leistungen einer Dachreparatur sind:
                            h2 Flachdach
                            ul
                                li Undichte Stellen suchen und reparieren.
                                li Lose Metallteile wieder befestigen.
                                li Gebrochene Lichtkuppeln und Oberlichter provisorisch abdichten
                                li Verstopfte Dachgullys reinigen
                                li Entwässerung auf Verstopfung prüfen.
                            h2 Steildach
                            ul
                                li Gebrochene Dachplatten austauschen.
                                li Lose Dachplatten, Dachteile wieder befestigen.
                                li Dachrinnen reinigen und auf Verstopfung prüfen.
                                li Dachfenster abdichten.
                                li Kamin abdichten.
                                li Dunstrohre und Antennen eindichten.
                                li Firstziegel abdichten / nachbefestigen.
                            p Eine Dachreparatur dauert im Durchschnitt 1 bis 2 Stunden.
                            p
                                | Eine Reparatur kann ein Provisorium darstellen mit einer Haltbarkeit von max. 1 Jahr.
                            p
                                | Dies ist dann der Fall, wenn Dachziegel, Dachsteine, Schindeln oder Einbauteile wie Dachfenster, Dunstrohre und sonstige Formteile gebrochen sind und provisorisch abgedichtet werden. In diesem Fall erhalten Sie ein unverbindliches und kostenfreies Angebot für eine Erneuerung der Bauteile.
                            p
                                | Dachflächen sind insbesondere beim Steildach einer besonders hohen Beschädigung durch Witterung ausgesetzt. Denn bei Wind, Regen und anderen Erschütterungen und Beanspruchungen, können sich die Deckziegel lockern und verrücken. Bei längerfristigen, jahreszeitlich bedingten Temperaturwechseln, werden die Oberfläche und insbesondere das Material des Daches angegriffen. Dadurch bilden sich langsam Risse und Absprengungen, wodurch im Laufe der Zeit Wasser, Schmutz, Rost und andere Fremdstoffe eindringen und das Dach beschädigen und zerstören können. Wenn im Inneren Flecken an der Decke auftreten, oder es irgendwoher tropft, dann ist es schon zu spät, denn wenn die Decke durchnässt ist und sich Wasser hinter Tapeten und Fugen sammelt, sind größere Reparaturen von Nöten, als die im Vergleich dazu kostengünstige Dachreparatur. Bei der Dachreparatur und Sanierung älterer Gebäude schafft eine Erneuerung des Daches zudem wichtige Wärmedämmung, denn oben am Gebäude verliert das Haus am meisten Wärme.
                            p
                                | Bei Flachdächern gibt es einige weitere Probleme, da dass Regen- und Schmutzwasser hier nicht besonders gut abfließen kann und somit auf dem Dach stehen bleibt. Somit können sich in Wasserlachen Schlammkrusten bilden und durch die Schwefelsäure im Regenwasser Kerbrisse entstehen. Sorgt man mit einer Dachreparatur nicht dafür, dass am Dach alles in Ordnung ist, wird bei Regen, oder auch einfach nur durch feuchte Luft, Feuchtigkeit in die Schichten des Daches eindringen, und bei Sonneneinstrahlung das Material des Daches weicher werden. Es dehnt sich aus und schließt kleine Risse, jedoch dehnt sich auch die Feuchtigkeit darunter aus, was ein Entstehen größerer Risse und Löcher bedeutet.
                            p
                                | Wer nicht rechtzeitig mit einer Dachreparatur vorbeugt und durch Pflege des Daches dessen Lebensdauer erhöht, der wird sich also bald vor massivere Probleme gestellt sehen, denn längerfristig kann dies eine sehr gefährliche Angelegenheit werden, da die Wettereinflüsse, insbesondere auch Hagel und Windböen die gesamte Bausubstanz beschädigen können. Dies kann sowohl bei Steildächern, als auch bei Flachdächern, Gründächern und Dächern mit Solarzellen passieren. Letztere bedürfen einer ganz besonderen Pflege und ständigen Dachreparatur, da die verwendeten Materialien der Solarzellen hochempfindlich sind und diese nicht montiert werden können, wenn das DachBeschädigungen oder durch äußere Einflüsse bedingte, unebene Flächen aufweist.Ein weiteres Thema wäre Asbest, gesundheitsschädliche Mineralstoffe, die besonders früher bei der Produktion von Wellblechdächern von Garagen oder Gartenhäusern zum Einsatz kamen. Eine fachgerechte Dachreparatur von Asbechtdächern ist besonders zu empfehlen, da dies gesundheitsfördernd ist und auch wiederum oben genannten Gefahren vorbeugt. Am besten ist es eine völlig asbestfreie Dachreparatur und Dachersetzung vorzunehmen um die Umwelt und die eigene Gesundheit zu schützen.

                    .col-md-4
                        include ../../includes/site/uber_uns_contact_info
                // /row
            // End Content




block footer
    include ../../includes/main/footer

block scripts
    script.
        $(document).ready(function() {
            App.init();
        });
