extends ../../includes/layout

block css
    include ../../includes/main/site




block header
    div
        include ../../includes/main/header

block content
    div.container
        .row
            // Begin Sidebar Menu
            .col-md-3
                include ../../includes/site/dacharbeiten_sidebar_menu
            // End Sidebar Menu
            // Begin Content
            div.col-md-9
                .row.margin-bottom-10
                    .col-md-8
                        img.img-responsive.margin-bottom-20(src='/static/images/main/main/dacharbeiten_dachwartung.jpg', alt='Dacharbeiten Dachwartung')
                        p Eine regelmäßige Dachwartung sichert den Erhalt des Daches und dadurch des gesamten Gebäudes.
                        p Im Zuge einer Dachwartung erfolgt eine Sichtprüfung aller Bauteile auf Beschädigung und Standsicherheit.
                        p Am Steildach werden zusätzlich alle Anschlüsse sowie die Dachrinne gereinigt, einzelne gebrochene Dachziegel werden ausgetauscht. Dunstrohre, Dachfenster, Laufeinrichtungen und Schneefänge werden auf Funktion geprüft.
                        p Am Flachdach wird zusätzlich angehender Pflanzenbewuchs entfernt. Die Entwässerung wird auf Beschädigung und Funktion geprüft.
                        p Durch Wind verfrachteter Kies wird wieder verteilt. Mauerabdeckungen, Aufbauten und technische Einrichtungen werden auf Standsicherheit geprüft.
                        p Silikonfugen werden geprüft und gewartet.
                        p Durch die Dachwartung erfüllten Sie als Eigentümer oder Hausverwalter Ihre Pflicht zur Instandhaltung der Gebäudehülle und können Haftungsansprüche abwehren. Schäden werden rechtzeitig erkannt - so können spätere größere Reparaturaufwände rechtzeitig vermieden werden.
                        p Eine Dachwartung sollte in regelmäßigen Abständen ein- bis zweimal im Jahr durchgeführt werden.
                        p Gerne erstellen wir Ihnen ein Individuelles Angebot für eine Dachwartung. Hierzu ist eine sachgerechte Bestandsaufnahme durch unseren Servicetechniker vor Ort notwendig. Diese führen wir im Zuge eines Dachchecks durch.
                    .col-md-4
                        include ../../includes/site/uber_uns_contact_info
                // /row
            // End Content




block footer
    include ../../includes/main/footer

block scripts
    script.
        $(document).ready(function() {
            App.init();
        });
