extends ../../includes/layout

block css
    include ../../includes/main/site




block header
    div
        include ../../includes/main/header

block content
    div.container
        .row
            // Begin Sidebar Menu
            .col-md-3
                include ../../includes/site/dacharbeiten_sidebar_menu
            // End Sidebar Menu
            // Begin Content
            div.col-md-9
                .row.margin-bottom-10
                    .col-md-8
                        img.img-responsive.margin-bottom-20(src='https://s3-eu-west-1.amazonaws.com/roofcare/flachdach_besonderheiten.jpg', alt='Flachdach Besonderheiten')
                        p Ein Flachdach ist immer wasserdicht ausgeführt. Ältere Flachdächer weisen oft kein Gefälle auf, wodurch viel Wasser auf der Dachfläche verbleibt. Diese Dächer müssen gut gepflegt werden, da es bei einer undichten Stelle einen Trichtereffekt gibt und viel Wasser eindringen kann.
                        p Vorteile von Flachdächern mit Abdichtung gegenüber geneigten Dächern mit Dachdeckung:
                        ul
                            li Geringes Eigengewicht der Dachhaut
                            li Erweiterte Nutzungsmöglichkeit (zum Beispiel Dachterrassen, begrünte Flächen, Parkdecks, Aufstellung und leichte Zugänglichkeit für technische Aggregate)
                            li Belichtungsmöglichkeit für innenliegende Räume, z. B. durch Lichtkuppeln
                            li Kostengünstig
                        p Flachdächer haben aber auch einige Nachteile:
                        ul
                            li Sie sind sehr wartungsintensiv.
                            li Es treten oftmals Alterungsschäden und Feuchtigkeitsschäden auf.
                            li Bereits kleine Mängel in der Abdichtung können große Schäden verursachen.
                            li Für den Bewohner bleiben Schäden oft lange unbemerkt und treten erst zum Vorschein wenn weitere Bauteile in Mitleidenschaft gezogen wurden.
                        p
                            strong Schäden an Flachdächern können vermieden werden, wenn regelmäßig bestimmte Wartungsarbeiten durchgeführt werden.
                        p Um Schäden an nicht begrünten Flachdächern zu verhindert, ist es ratsam, die folgenden Wartungsarbeiten ein- bis zweimal jährlich durchzuführen:
                        ul
                            li Reinigung von Dachabläufen und Entwässerungsrinnen
                            li Entfernung grober Schmutzablagerungen
                            li Säuberung von Kiesschüttungen, insbesondere von unerwünschtem Pflanzenbewuchs
                            li Überprüfung von Silikonfugen
                            li Überprüfung der An- und Abschlüsse von Einbauten
                            li Vorbeugender Rostschutz bei Metallteilen
                            li Auswechseln schadhaft gewordener Dachmaterialien
                            li Pflege des Oberflächenschutzes bei Dachbahnen
                            li Ausbessern schadhafter Fassadenanschlüsse
                            li Überprüfung der Nahtverbindungen bei frei bewitterten Dachflächen
                            li Überprüfung und Reinigung von Lichtkuppeln und sonstigen Belichtungselementen
                        p Die Anzahl der Wartungsgänge ist abhängig von der Beanspruchung der Dachabdichtung durch thermische, mechanische, biologische oder chemische Einwirkungen. Weiterhin sind Alter der Dachabdichtung, Fläche und Neigung des Daches sowie Art der Dachkonstruktion entscheidend für die Festlegung der Wartungsintervalle. Generell gilt jedoch, dass die Wartung mindestens einmal pro Jahr durchgeführt werden sollte.
                        p Im Zuge eines Dachchecks oder einer Dachreparatur erstellen wir Ihnen gerne ein Angebot zur regelmäßigen Dachwartung
                    .col-md-4
                        include ../../includes/site/uber_uns_contact_info
                // /row
            // End Content




block footer
    include ../../includes/main/footer

block scripts
    script.
        $(document).ready(function() {
            App.init();
        });
