extends ../../includes/layout

block css
    include ../../includes/main/site




block header
    div
        include ../../includes/main/header

block content
    div.container
        .row
            // Begin Sidebar Menu
            .col-md-3
                include ../../includes/site/uber_uns_sidebar_menu
            // End Sidebar Menu
            // Begin Content
            div.col-md-9
                .row.margin-bottom-10
                    .col-md-8
                        img.img-responsive.margin-bottom-20(src='https://s3-eu-west-1.amazonaws.com/roofcare/kontraktor.jpg', alt='Roofcare Kontraktor werden')
                        p Sie sind Dachdeckermeister und suchen den Weg in die Selbständigkeit? Dann bewerben Sie sich doch jetzt gleich für Ihre Region bei uns.
                        p Wir bieten Ihnen ein Franchise Modell zum Start in die Selbständigkeit. Der Vorteil liegt darin, dass Sie mit einer bereits etablierten und bewährten Geschäftsidee starten. Wir liefern das nötige Know- How und die Qualitätsstandards. Sie übernehmen die Ausführung und leiten Ihren Bereich selbständig. Sie erhalten regelmäßige Schulungen und ein Handbuch, um die hohen Servicestandards sicher zu stellen.
                        p Sie sind gut organisiert, kundenorientiert, zuverlässig und belastbar?
                        p Dann bewerben Sie sich doch am Besten noch heute und schicken Sie uns Ihre Bewerbung indem Sie das folgende Formular ausfüllen:
                        form
                            label Name
                            .row.margin-bottom-20
                                .col-md-7.col-md-offset-0
                                    input.form-control(type='text')
                            label
                                | Email
                                span.color-red *
                            .row.margin-bottom-20
                                .col-md-7.col-md-offset-0
                                    input.form-control(type='text')
                            label
                                | Stadt
                                span.color-red *
                            .row.margin-bottom-20
                                .col-md-7.col-md-offset-0
                                    input.form-control(type='text')
                            label Warum wollen Sie ein Roofcare Kontraktor werden?
                            .row.margin-bottom-20
                                .col-md-11.col-md-offset-0
                                    textarea.form-control(rows='8')
                            p
                                button.btn-u(type='submit') Bewerbung abschicken
        // /col-md-9
        .col-md-3
            // Contacts
                    .col-md-4
                        include ../../includes/site/uber_uns_contact_info
                // /row
            // End Content




block footer
    include ../../includes/main/footer

block scripts
    script.
        $(document).ready(function() {
            App.init();
        });
