extends ../../includes/layout

block css
    include ../../includes/main/site




block header
    div
        include ../../includes/main/header

block content
    div.container
        .row
            // Begin Sidebar Menu
            .col-md-3
                include ../../includes/site/kosten_sidebar_menu
            // End Sidebar Menu
            // Begin Content
            div.col-md-9
                .row.margin-bottom-10
                    div.col-md-8
                        img.img-responsive.margin-bottom-20(src='/static/images/main/main/kosten_dachwartung.jpg', alt='Kosten Dachwartung')
                        p Für Ihre individuelle Dachwartung erhalten Sie immer vorab ein Angebot.
                        p Die Grundlagen für Ihr Angebot ermitteln unser Fachleute über eine Bestandsaufnahme, den Dachcheck.
                        p Abhängig von der Art des Daches und den Besonderheiten erhalten Sie immer das optimale Serviceangebot für Ihre Wünsche.
                        p Sie können die Häufigkeit und den Umfang der Arbeiten selbst bestimmen und erhalten somit ein auf Ihre Bedürfnisse abgestimmtes Angebot.
                        p
                            i Übrigens: Wir sind ein in die Handwerksrolle eingetragener Betrieb und können die Lohnkosten steuermindernd ausweisen. Ihre Steuer reduziert sich damit um bis zu 1.200 € bei einem max. Lohnanteil von 6.000 €.(in welchem Umfang die Pauschale angesetzt werden kann, sollten Sie mit Ihrem Steuerberater klären.)

                    .col-md-4
                        include ../../includes/site/uber_uns_contact_info
                                    // /row
            // End Content




block footer
    include ../../includes/main/footer

block scripts
    script.
        $(document).ready(function() {
            App.init();
        });
