extends ../../includes/layout

block css
    include ../../includes/main/site




block header
    div
        include ../../includes/main/header

block content
    div.container
        .row
            // Begin Sidebar Menu
            .col-md-3
                include ../../includes/site/uber_uns_sidebar_menu
            // End Sidebar Menu
            // Begin Content
            div.col-md-9
                .row.margin-bottom-10
                    .col-md-8
                        img.img-responsive.margin-bottom-20(src='https://s3-eu-west-1.amazonaws.com/roofcare/uber_uns_kunden_werben_kunden.jpg', alt='Kunden werben Kunden')
                        p Empfehlen Sie uns! Waren Sie mit unserer Arbeit zufrieden? Wir freuen uns sehr über Ihre Empfehlung.
                        p Helfen Sie auch Ihren Freunden, Bekannten und Arbeitskollegen, den richtigen Partner für den Service am Dach zu finden.
                    .col-md-4
                        include ../../includes/site/uber_uns_contact_info
                // /row
            // End Content




block footer
    include ../../includes/main/footer

block scripts
    script.
        $(document).ready(function() {
            App.init();
        });
