extends ../../includes/layout

block css
    include ../../includes/main/site




block header
    div
        include ../../includes/main/header

block content
    div.container
        .row
            // Begin Sidebar Menu
            .col-md-3
                include ../../includes/site/warum_sidebar_menu
            // End Sidebar Menu
            // Begin Content
            div.col-md-9
                .row.margin-bottom-10
                    div.col-md-8
                        img.img-responsive.margin-bottom-20(src='https://s3-eu-west-1.amazonaws.com/roofcare/warum_roofcare_schnelligkeit.jpg', alt='Schnelligkeit')
                        p Auf Wunsch garantieren wir eine Auftragsabwicklung binnen 3 Werktagen. Gerne können Sie auch einen anderen Wunschtermin vereinbaren.
                        p Durch unsere lokalen Meisterbetriebspartner sind kurze Wege und schnelle Auftragsabwicklung sichergestellt.


                    .col-md-4
                        include ../../includes/site/uber_uns_contact_info
                                    // /row
            // End Content




block footer
    include ../../includes/main/footer

block scripts
    script.
        $(document).ready(function() {
            App.init();
        });
