extends ../../includes/layout

block css
    include ../../includes/main/site




block header
    div
        include ../../includes/main/header

block content
    div.container
        .row
            // Begin Sidebar Menu
            .col-md-3
                include ../../includes/site/dacharbeiten_sidebar_menu
            // End Sidebar Menu
            // Begin Content
            div.col-md-9
                .row.margin-bottom-10
                    .col-md-8
                        p Ganz exakt definiert sind die Begriffe Flachdach, flach geneigtes Dach und Steildach nicht.
                        p Die freie Enzyklopädie Wikipedia definiert Flachdächer beispielsweise als Dächer mit einem Neigungswinkel von bis zu 10 Grad. Steildächer beginnen ab einem Winkel von 20 Grad. Die Spanne von 11 bis 19 Grad Neigungswinkel bliebe demnach für die flach geneigten Dächer. Andere Quellen verzichten auf den Begriff „flach geneigtes Dach“.
                        p Der grobe Unterschied zum Flachdach besteht dahingehend, dass das Steildach regensicher sein muss, während das Flachdach wasserdicht ausgeführt wird.
                        ul
                            li    Wir bei RoofCare betrachten Ihr Dach als Steildach, wenn es mit kleinformatigen, schuppigen, Werkstoffen eingedeckt ist. Das können sein:
                            li   Dachziegel und Dachsteine
                            li    Bitumenschindel
                            li    Wellplatten
                            li    Holzschindel
                            li    Schiefer
                            li    Metalldeckungen aus Scharen
                            li    Metalldeckungen aus Platten (z.B. Prefa)
                    .col-md-4
                        include ../../includes/site/uber_uns_contact_info
                // /row
            // End Content




block footer
    include ../../includes/main/footer

block scripts
    script.
        $(document).ready(function() {
            App.init();
        });
