.footer
    .container
        .row
            .col-md-3
                h4  2014 © Roofcare
                a(href='index.html')
                    img#logo-footer(src='/static/images/main/logo2-default.png', alt='Roofcare Dachreparaturen Dachchecks')
                address.md-margin-bottom-40
                    | Jahnstr. 35
                    br
                    | Ottobrunn
                    br
                    | Deutschland
                    br
                    br
                    | Tel:
                    a(href='tel:08007663227') 0800-roofcare
                    | (0800-766-322-7)
                    br
                    | Fax: 089-6542-74059-45
                    br
                    | Email:
                    a(href='mailto:info@roofcare.de') info@roofcare.de
                ul.social-icons
                    li
                        a.social_facebook(href='#', data-original-title='Facebook')
                    li
                        a.social_twitter(href='#', data-original-title='Twitter')
                    li
                        a.social_googleplus(href='#', data-original-title='Google Plus')
            // /col-md-4
            .col-md-5.top-buffer
                .col-md-6.md-margin-bottom-40
                    ul.list-unstyled.footer-menu
                        li
                            a(href='faq.html') FAQ
                        li
                            a(href='kunden_werben_kunden.html') Kunden werben Kunden
                .col-md-6.md-margin-bottom-40
                    ul.list-unstyled.footer-menu
                        li
                            a(href='agbs.html') AGBs
                        li
                            a(href='datenschutz.html') Datenschutzbestimmungen
                        li
                            a(href='nutzung.html') Nutzungsbedingungen
                        li
                            a(href='impressum.html') Impressum
            // /col-md-4
            .col-md-3.md-margin-bottom-40
                h4 Kontraktor werden
                img(src='/static/images/main/main/kontraktor.jpg', alt='Roofcare Kontraktor')
                p
                strong Bewerben Sie sich jetzt als Roofcare Partner.
                a.btn-buy.hover-effect(href='kontraktor_werden.html')
                    | Anfrage schreiben
                i.icon-angle-right.icon-large.pull-right