link(rel='stylesheet', href='/static/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/static/dist/css/app.css')
link(rel='stylesheet', href='/static/dist/css/style.css')
link(rel='stylesheet', href='/static/dist/css/header1.css')

link(rel='stylesheet', href='/static/dist/css/responsive.css')

link(rel='stylesheet', href='/static/dist/css/font-awesome.min.css')
link(rel='stylesheet', href='/static/dist/css/parallax-slider.css')

link(rel='stylesheet', href='/static/dist/css/red.css')
link(rel='stylesheet', href='/static/dist/css/header1-red.css')

link(rel='stylesheet', href='/static/dist/css/bootstrap-datetimepicker.min.css')


    //Toastr
link(rel='stylesheet', href='/static/dist/css/toastr.min.css')

    //Angular related like animation, spinner
link(rel='stylesheet', href='/static/dist/css/ngStyles.css')

link(rel='stylesheet', href='/static/dist/css/loading-bar.min.css')