extends ../includes/layout

block content
    section#content
        .container
            #content-wrapper.row
                ng-view
            footer#footer
                .footer-wrapper
                    .row
                        .col-sm-6.text
                            | Copyright © 2013 Roofcare Mobil
                        .col-sm-6.buttons
        // / jquery [required]