<form class="reg-page" name="vm.userForm" form-autofill-fix novalidate ng-submit="vm.createJob();">
    <div class="reg-header">
        <h2>Dachcheck</h2>
         <!--Show this in dev env only-->
        <button ng-hide="true" ng-click="vm.prepopulate()">Populate</button>
        <p>Um Ihren Dachcheck schnell und fachmännisch durchführen zu zu können, brauchen wir einige Details zu dem Dachcheck von Ihnen.</p>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">An welcher Adresse muss der Dachcheck durchgeführt werden?</h3>
        </div>
        <order-address />
    </div>
    <div class="panel ">
        <div class="panel-heading">
            <h3 class="panel-title"> Bitte den Dachtyp auswählen</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <label>Dachtyp <span class="color-red">*</span></label>
                    <div class="radio"> 
                        <label>
                            <input type="radio" name="flachdach" id="optionsRadios1" value="{{vm.lookups.roofType.flat}}" data-ng-model="vm.job.roofType">
                            {{vm.lookups.roofType.flat}} </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="flachdach" id="optionsRadios2" value="{{vm.lookups.roofType.steep}}"  data-ng-model="vm.job.roofType">
                            {{vm.lookups.roofType.steep}} </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="flachdach" id="optionsRadios3" value="{{vm.lookups.roofType.order}}" data-ng-model="vm.job.roofType">
                            Ich weiss es nicht </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Haustyp <span class="color-red">*</span></label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="haustyp"  value="{{vm.lookups.propertyType.singleFamily}}"   data-ng-model="vm.job.propertyType">
                            {{vm.lookups.propertyType.singleFamily}} </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="haustyp"  value="{{vm.lookups.propertyType.multiFamily}}"   data-ng-model="vm.job.propertyType">
                            {{vm.lookups.propertyType.multiFamily}} </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="haustyp" value="{{vm.lookups.propertyType.other}}"   data-ng-model="vm.job.propertyType">
                            {{vm.lookups.propertyType.other}} </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Zugang zum Dach<span class="color-red">*</span></label>
                    <div class="radio">
                        <label>
                           <input type="radio" name="zugang" value="{{vm.lookups.roofAccess.window}}" data-ng-model="vm.job.roofAccess">
                            {{vm.lookups.roofAccess.window}} </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="zugang" value="{{vm.lookups.roofAccess.ladder}}"  data-ng-model="vm.job.roofAccess">
                            {{vm.lookups.roofAccess.ladder}} </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="zugang" value="{{vm.lookups.roofAccess.none}}" data-ng-model="vm.job.roofAccess">
                            {{vm.lookups.roofAccess.none}} </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Weitere Informationen zu Ihrem Dachcheck.</label>
                    <textarea class="form-control" rows="7" data-ng-model="vm.job.notes.customer"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <button  data-ng-show="vm.canEditOrder" class="btn-u" type="submit">Weiter<i class="icon-angle-right icon-large pull-right"></i></button>
        </div>
    </div>
</form>