    <form class="reg-page">
        <div class="reg-header">
            <h2>Was soll Ich buchen?</h2>
            <p>Bitte entscheiden Sie sich, ob Sie einen Dachcheck durchf&uuml;hren m&ouml;chten oder eine Dachreparatur ben&ouml;tigen.</p>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="view view-tenth">
                    <img class="img-responsive" src="https://s3-eu-west-1.amazonaws.com/roofcare/dachcheck.jpg" alt="Dachcheck">
                    <div class="mask">
                        <h2>Was ist ein Dachcheck?</h2>
                        <p><strong>Es besteht kein Schaden – Sie wollen vorbeugen. </strong></p>
                        <p>Mit einem Dachcheck und einer anschließenden Wartung sichern Sie sich vor
                            unliebsamen Schäden und Überraschungen ab.</p>
                        <p>Sie erfüllen Ihre Pflicht zur Instandhaltung ihres Eigentums gemäß § 836 BGB und sichern
                            den Werterhalt der Immobilie.</p>
                        <a href="" data-ng-click="vm.nextStep(vm.orderType.check.name)" class="btn-u btn-u-red btn-u-lg">Jetzt Dachcheck buchen<i class="icon-angle-right icon-large pull-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="view view-tenth">
                    <img class="img-responsive" src="https://s3-eu-west-1.amazonaws.com/roofcare/dachreparatur.jpg" alt="Dachreparatur">
                    <div class="mask">
                        <h2>Was ist eine Dachreparatur?</h2>
                        <p><strong>Wenn ein Schaden am Dach bereits sichtbar ist, besteht sofortiger Reparaturbedarf.</strong></p>
                        <p>Weiterführende Schäden am Dach und eindringendes Wasser in das Gebäude müssen vermieden oder abgestellt werden. Haftungsansprüche gemäß § 836 BGB gilt es zu
                            vermeiden.</p>
                        <p>Schnelles Handeln spart Geld.</p>
                        <a href="#" data-ng-click="vm.nextStep(vm.orderType.repair.name)"  class="btn-u btn-u-red btn-u-lg">Jetzt Dachreparatur buchen<i class="icon-angle-right icon-large pull-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </form>
