<div class="panel-body">
    <div class="row margin-bottom-10">
        <div class="col-sm-12">
            <label>Strasse und Hausnummer</label>
            <input type="text" class="form-control" name="address" placeholder="Strasse und Hausnummer" data-ng-model="vm.job.workSite.street">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label>PLZ</label>
            <input type="text" class="form-control" name="zip" placeholder="PLZ" data-ng-model="vm.job.workSite.zipCode">
        </div>
        <div class="col-sm-6">
            <label>Stadt</label>
            <input type="text" class="form-control" name="city" placeholder="Stadt" data-ng-model="vm.job.workSite.city">
        </div>
    </div>
</div>