<div class="panel-body">
    <div class="row margin-bottom-10">
        <div class="col-sm-12">
            <div class="form-group" ng-class="{ 'has-error' : vm.isAddressInvalid()}">
            <label>Strasse und Hausnummer</label>
            <input type="text" class="form-control"
                   name="address" placeholder="Strasse und Hausnummer"
                   data-ng-model="vm.job.workSite.street"
                   ng-required="true"
                   ng-minlength="5"
                   ng-maxlength="50"

            >
            <p ng-show="vm.isAddressInvalid()" class="help-block" data-ng-bind="vm.translation.validation.invalidAddress"></p>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : vm.isZipCodeInvalid()}">
            <label>PLZ</label>
            <input type="text" class="form-control" name="zip" placeholder="PLZ"
                   data-ng-model="vm.job.workSite.zipCode"
                   ng-required="true"
                   ng-pattern="/\d{5}/"
                   >
            <p ng-show="vm.isZipCodeInvalid()" class="help-block" data-ng-bind="vm.translation.validation.invalidZipCode"></p>
                </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : vm.isCityInvalid()}">
            <label>Stadt</label>
            <input type="text" class="form-control" name="city" placeholder="Stadt"
                   data-ng-model="vm.job.workSite.city"
                   ng-required="true"
                   ng-minlength="2"
                   ng-maxlength="50">
            <p ng-show="vm.isCityInvalid()" class="help-block" data-ng-bind="vm.translation.validation.invalidCity"></p>
                </div>
        </div>
    </div>
</div>