extends ../../includes/layout

block css
    link(rel='stylesheet', href='/static/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/dist/css/app.css')
    link(rel='stylesheet', href='/static/dist/css/style.css')
    link(rel='stylesheet', href='/static/dist/css/header1.css')

    link(rel='stylesheet', href='/static/dist/css/responsive.css')

    link(rel='stylesheet', href='/static/dist/css/ font-awesome.min.css')
    link(rel='stylesheet', href='/static/dist/css/parallax-slider.css')

    link(rel='stylesheet', href='/static/dist/css/red.css')
    link(rel='stylesheet', href='/static/dist/css/header1-red.css')

    link(rel='stylesheet', href='/static/dist/css/bootstrap-datetimepicker.min.css')


        //Toastr
    link(rel='stylesheet', href='/static/dist/css/toastr.min.css')

        //Angular related like animation, spinner
    link(rel='stylesheet', href='/static/dist/css/ngStyles.css')

    link(rel='stylesheet', href='/static/dist/css/loading-bar.min.css')

block header
      include ../../includes/main/header

block content
    div.container(data-ng-controller="shell as vm")
        div.row
            div.col-sm-12
                div.fuelux
                    div.wizard
                        ul.steps(data-ng-controller='OrderTopMenuCtrl as vm')
                            li(data-target='#step1', ng-class="{'active': vm.step == 1, 'complete': vm.step > 1}")
                                a(href="#", data-ng-click="vm.setStep(1)")
                                    span.step Reparatur oder Check
                                    i(ng-class="{'icon-angle-down': vm.step==1, 'icon-angle-right': vm.step != 1, 'icon-large': true}")
                            li(data-target='#step2', ng-class="{'active': vm.step == 2, 'complete': vm.step > 2}")
                                a(href="#", data-ng-click="vm.setStep(2)")
                                    span.step Details
                                    i(ng-class="{'icon-angle-down': vm.step==2, 'icon-angle-right': vm.step != 2, 'icon-large': true}")
                            li(data-target='#step3', ng-class="{'active': vm.step == 3, 'complete': vm.step > 3}")
                                a(href="#", data-ng-click="vm.setStep(3)")
                                    span.step Kosten
                                    i(ng-class="{'icon-angle-down': vm.step==3, 'icon-angle-right': vm.step != 3, 'icon-large': true}")
                            li(data-target='#step4', ng-class="{'active': vm.step == 4, 'complete': vm.step > 4}")
                                a(href="#", data-ng-click="vm.setStep(4)")
                                    span.step Termin
                                    i(ng-class="{'icon-angle-down': vm.step==4, 'icon-angle-right': vm.step != 4, 'icon-large': true}")
                            li(data-target='#step5', ng-class="{'active': vm.step == 5, 'complete': vm.step > 5}")
                                a(href="#", data-ng-click="vm.setStep(5)")
                                    span.step Buchung
                                    i(ng-class="{'icon-angle-down': vm.step==5, 'icon-angle-right': vm.step != 5, 'icon-large': true}")

                    ng-view

block footer
    include ../../includes/main/footer
block scripts
    script.
        jQuery(document).ready(function() {
            App.init();
        });

    //bootstrap the app
    script(defer, src='/app/deferredBootstrapApp.js')

    //common module
    script(defer, src='/app/common/services/common.js')
    script(defer, src='/app/common/services/logger.js')
    script(defer, src='/app/common/services/spinner.js')
    script(defer, src='/app/common/services/spinner.js')

    //filters
    script(defer, src='/app/common/filters/strip_end.js')

    //directives
    script(defer, src='/app/common/directives/form_auto_fill_fix.js')
    script(defer, src='/app/common/directives/date_time_picker.js')


    //translation
    script(defer, src='/app/translation/services/translationSvc.js')


    //order module
    script(defer, src='/app/order/order.js')
    //script(defer, src='/app/order/controllers/OrderBaseCtrl.js')
    script(defer, src='/app/order/controllers/OrderStartCtrl.js')
    script(defer, src='/app/order/controllers/OrderCheckCtrl.js')
    script(defer, src='/app/order/controllers/OrderDetailCtrl.js')
    script(defer, src='/app/order/controllers/OrderCostCtrl.js')
    script(defer, src='/app/order/controllers/OrderReviewCtrl.js')
    script(defer, src='/app/order/controllers/OrderConfirmationCtrl.js')
    //services
    script(defer, src='/app/order/services/orderSvc.js')
    script(defer, src='/app/order/services/orderWorkFlowSvc.js')
    //directives
    script(defer, src='/app/order/directives/order_address.js')


    //Angular app
    script(defer, src='/app/orderApp.js')

    //configuration
    script(defer, src='/app/config/config.js')
    script(defer, src='/app/config/config.exceptionHandler.js')
    script(defer, src='/app/config/config.routes.js')

    //layout
    script(defer, src='/app/layout/directives/cc-spinner.js')
    script(defer, src='/app/layout/controllers/shell.js')
    script(defer, src='/app/layout/controllers/OrderTopMenuCtrl.js')