<div class='col-xs-12'>
<page-header text="Checklisten" icon="icon-list-alt"></page-header>

  <div class="row">
    <div class="col-sm-4">
      <div class="box">
        <div class="box-header">
          <div class="title">
            <i class="icon-user"></i>
            Kunde
          </div>
          <div class="actions">


            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class="box-content">
          <div class="row">
            <div class="col-sm-6">
              <address>
                <strong>{{vm.job.customer.salutation}} {{vm.job.customer.firstName}} {{vm.job.customer.lastName}} </strong>
                <br>
                {{vm.job.customer.address.street}}
                <br>
                {{vm.job.customer.address.zipCode}} {{vm.job.customer.address.city}}
                <br>
                <abbr title="Phone">P:</abbr>
                {{vm.job.customer.phone}}
                <br>
                <abbr title="Email">E:</abbr>
                {{vm.job.customer.email}}
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box">
        <div class="box-header">
          <div class="title">
            <i class="icon-flag"></i>
            Anschrift
          </div>
          <div class="actions">


            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class="box-content">
          <div class="row">
            <div class="col-sm-6">
              <address>
                <strong>{{vm.job.onSiteContact.salutation}} {{vm.job.onSiteContact.firstName}} {{vm.job.onSiteContact.lastName}} </strong>
                <br>
                {{vm.job.onSiteContact.address.street}}
                <br>
                {{vm.job.onSiteContact.address.zipCode}} {{vm.job.onSiteContact.address.city}}
                <br>
                <abbr title="Phone">P:</abbr>
                {{vm.job.onSiteContact.phone}}
                <br>
                <abbr title="Email">E:</abbr>
                {{vm.job.onSiteContact.email}}
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="box">
        <div class="box-header">
          <div class="title">
            <i class="icon-wrench"></i>
            Auftragsdetails
          </div>
          <div class="actions">
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class="box-content">
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li>{{vm.job.roofType}}</li>
                <li>{{vm.job.propertyType}}</li>
                <li>Datum: {{vm.job.startDate | amDateFormat: 'lll'}}</li>
                <li><span am-time-ago="vm.job.startDate"></span></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-12">
    <div class="box bordered-box red-border">
      <div class="box-header red-background">
        <div class="title">Bestehende Checklisten</div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-no-padding">
        <div class="responsive-table">
          <div class="scrollable-area">
            <table class="table" style="margin-bottom:0;">
              <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Beschreibung
                </th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in vm.job.checkLists"  ng-click="vm.showCheckList(item.name)" style="cursor: pointer">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>

                <td>
                  <div class="text-right">
                    <a class="btn btn-success btn-xs" ng-click="vm.showCheckList(item.name)" href="">
                      <i class="icon-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-xs"  ng-click="vm.deleteCheckList(item.name)" href="">
                      <i class="icon-remove"></i>
                    </a>
                  </div>
                </td>
              </tr>
             </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-12 newCheckList" ng-hide="vm.editingCheckList">
    <div class="box">
      <div class="box-header red-background">
        <div class="title">
          <div class="icon-edit"></div>
          Neue Checkliste anlegen
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content">
        <form class="form form-horizontal" style="margin-bottom: 0;" name="vm.checkListForm" form-autofill-fix novalidate>
          <div class="form-group">
          <label class="col-md-2 control-label" for="inputText1">Name</label>
          <div class="col-md-5">
            <input class="form-control" id="checklist-name" name ="checklistName" ng-model="vm.checkListName"  type="text" ng-required="true">
          </div>
        </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="inputTextArea1">Beschreibung</label>
            <div class="col-md-5">
              <textarea class="form-control" id="checklist-beschreibung" name="checklistBeschreibung" ng-model="vm.checkListDesc" placeholder="Textarea" rows="3" ng-required="true"></textarea>
            </div>
          </div>
          <div class="form-actions form-actions-padding-sm">
            <div class="row">
              <div class="col-md-10 col-md-offset-2">
                <button class="btn btn-primary"  ng-disabled="vm.checkListForm.$invalid" ng-click="vm.AddCheckList()">
                  <i class="icon-save"></i>
                  Speichern
                </button>
                <button class="btn" ng-click="vm.cancelAddCheckList()">Cancel</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <form class="form form-horizontal" name="CheckListEditForm" ng-submit="vm.saveCheckList()" style="margin-bottom: 0;" form-autofill-fix novalidate>
  <div class="row checkList" ng-show="vm.editingCheckList">
  <div class="col-xs-12">
  <div class="box">
  <!-- Editing starts here -->
  <div class="box-header red-background">
    <div class="title">
      <div class="icon-edit"></div>
      {{vm.checkList.name}}: Bestand
    </div>
    <div class="actions">
      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
      </a>
    </div>
  </div>
  <div class="box-content">


  
  <div class="form-group">
    <label class="col-md-2 control-label">Art Abdichtung</label>
    <div class="col-md-10">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="vm.checkList.content.artAbdichtung.bitumen">
        Bitumen
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="vm.checkList.content.artAbdichtung.kunststoff">
        Kunststoff
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputText1">Baujahr Flachdach</label>
    <div class="col-md-5">
      <input class="form-control"  ng-model="vm.checkList.content.aBaujahr"  type="text" name="a-baujahr">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputText1">Dachaufbau</label>
    <div class="col-md-5">
      <input class="form-control"  ng-model="vm.checkList.content.aDachaufbau" type="text" name="a-dachaufbau">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputText1">Fläche (geschätzt) in m<sup>2</sup></label>
    <div class="col-md-5">
      <input class="form-control" ng-model="vm.checkList.content.aFlacheGeschatzt"   type="text" name="a-flache-geschatzt">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputText1">Ausführung Attika</label>
    <div class="col-md-5">
      <input class="form-control"  ng-model="vm.checkList.content.aAusfuhrungAttika" type="text" name="a-ausfuhrung-attika">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputText1">Attika Höhe in m</label>
    <div class="col-md-5">
      <input class="form-control"  ng-model="vm.checkList.content.aAttikeHohe" type="text" name="a-attike-hohe">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputText1">Art der Entwässerung</label>
    <div class="col-md-5">
      <input class="form-control"   ng-model="vm.checkList.content.aEntwasserung" type="text" name="a-entwasserung">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputText1">Flachdach Neigung in Grad</label>
    <div class="col-md-5">
      <input class="form-control" ng-model="vm.checkList.content.aFlachdachNeigung"  type="text" name="a-flachdach-neigung">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Zweischaliges Dach</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.zweischaligesDash"  value="Ja" name="a-zweischaliges-dach">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.zweischaligesDash"  value="Nein" name="a-zweischaliges-dach">
        Nein
      </label>
    </div>
  </div>


  <div class="form-group">
    <label class="col-md-2 control-label"> Verwahrungen</label>
    <div class="col-md-10">
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-verwahrungen">
        verz.
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-verwahrungen">
        Zink
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-verwahrungen">
        Cu
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-verwahrungen">
        Alu
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Umkehrdach</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.aUmkehrdach"  value="Ja" name="aUmkehrdach">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.aUmkehrdach"  value="Nein" name="aUmkehrdach">
        Nein
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Wärmedämmung</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.aWarmedammung"  value="Ja" name="aWarmedammung">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.aWarmedammung"  value="Nein" name="aWarmedammung">
        Nein
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Ausf. d. Wärmed.</label>
    <div class="col-md-10">
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausf-warmd">
        PU
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausf-warmd">
        PS
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausf-warmd">
        Mineral
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Blitzschutz</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.aBlitzschutz"  value="Ja" name="aBlitzschutz">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.aBlitzschutz"  value="Nein" name="aBlitzschutz">
        Nein
      </label>
    </div>

  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Ausf. Blitzschutz</label>
    <div class="col-md-10">
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausf-blitzschutz">
        verz.
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausf-blitzschutz">
        Zink
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausf-blitzschutz">
        Cu
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausf-blitzschutz">
        Alu
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Bekiesung</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.abekiesung"  value="Ja" name="abekiesung">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.abekiesung"  value="Nein" name="abekiesung">
        Nein
      </label>
    </div>

  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Ausf. Bekiesung</label>
    <div class="col-md-10">
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausf-bekiesung">
        8/16
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausf-bekiesung">
        16/32
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Dachbegrünung</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.adachbegrunung"  value="Ja" name="adachbegrunung">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.adachbegrunung"  value="Nein" name="adachbegrunung">
        Nein
      </label>
    </div>

  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Ausf. Dachbegr.</label>
    <div class="col-md-10">
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausfdachbegr">
        intensiv
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-ausfdachbegr">
        extensiv
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Entwässerungsrinnen</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.entwasserungsrinnen"  value="Ja" name="entwasserungsrinnen">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.entwasserungsrinnen"  value="Nein" name="entwasserungsrinnen">
        Nein
      </label>
    </div>

  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Lichtkuppeln</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.lichtkuppeln"  value="Ja" name="lichtkuppeln">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.lichtkuppeln"  value="Nein" name="lichtkuppeln">
        Nein
      </label>
    </div>

  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputText1">Lichtkuppenanzahl</label>
    <div class="col-md-5">
      <input class="form-control"   type="text" name="a-lichtkuppenanzahl">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Durchsturzischerung vorhanden</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" value="" name="a-durchsturzischerung">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" value="" name="a-durchsturzischerung">
        Nein
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Dachausstieg</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.dachausstieg"  value="Ja" name="dachausstieg">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.dachausstieg"  value="Nein" name="dachausstieg">
        Nein
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputText1">Dachausstieganzahl</label>
    <div class="col-md-5">
      <input class="form-control"   type="text" name="a-dachausstieganzahl">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Schutzbeton</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.schutzbeton"  value="Ja" name="schutzbeton">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.schutzbeton"  value="Nein" name="schutzbeton">
        Nein
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Sicherungseinrichtung</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.sicherungseinrichtung"  value="Ja" name="sicherungseinrichtung">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.sicherungseinrichtung"  value="Nein" name="sicherungseinrichtung">
        Nein
      </label>
    </div>

  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Art der Sicherungseinrichtung</label>
    <div class="col-md-10">
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-art-sicherungseinrichtung">
        Securanten
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-art-sicherungseinrichtung">
        Seilanlage
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="" name="a-art-sicherungseinrichtung">
        Dachrandgeländer
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Notentwässerung</label>
    <div class="col-md-10">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.notentwasserung"  value="Ja" name="notentwasserung">
        Ja
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.notentwasserung"  value="Nein" name="notentwasserung">
        Nein
      </label>
    </div>

  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputText1">Art der Notentwässerung</label>
    <div class="col-md-5">
      <input class="form-control"   type="text" name="a-art-notentwasserung">
    </div>
  </div>

  </div>
  </div>

  <div class="col-sm-12">
  <div class="box">
  <div class="box-header red-background">
    <div class="title">
      <div class="icon-edit"></div>
      Feststellungen
    </div>
    <div class="actions">
      <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
      </a>

      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
      </a>
    </div>
  </div>
  <div class="box-content">
  <div class="form-group">
    <label class="col-md-2 control-label">Abdichtungsoberlage</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bAbdichtungsoberlage"  value="keine Mängel" name="bAbdichtungsoberlage">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bAbdichtungsoberlage"  value="geringe Mängel" name="bAbdichtungsoberlage">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bAbdichtungsoberlage"  value="große Mängel" name="bAbdichtungsoberlage">
        große Mängel
      </label>
    </div>

    <div class="col-md-7">
      <input class="form-control"  ng-model="vm.checkList.content.bAbdichtungsoberlageText"    type="text" name="bAbdichtungsoberlageText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Randabschlüsse</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bRandabschlusse"  value="keine Mängel" name="bRandabschlusse">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bRandabschlusse"  value="geringe Mängel" name="bRandabschlusse">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bRandabschlusse"  value="große Mängel" name="bRandabschlusse">
        große Mängel
      </label>
    </div>

    <div class="col-md-7">
      <input class="form-control" ng-model="vm.checkList.content.bRandabschlusseText"    type="text" name="bRandabschlusseText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Wandanschlüsse</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bWandanschlusse"  value="keine Mängel" name="bWandanschlusse">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bWandanschlusse"  value="geringe Mängel" name="bWandanschlusse">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bWandanschlusse"  value="große Mängel" name="bWandanschlusse">
        große Mängel
      </label>
    </div>
    <div class="col-md-7">
      <input class="form-control" ng-model="vm.checkList.content.bWandanschlusseText"    type="text" name="bWandanschlusseText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Dachdurchdringungen</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bDachdurchdringungen"  value="keine Mängel" name="bDachdurchdringungen">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bDachdurchdringungen"  value="geringe Mängel" name="bDachdurchdringungen">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bDachdurchdringungen"  value="große Mängel" name="bDachdurchdringungen">
        große Mängel
      </label>
    </div>
    <div class="col-md-7">
      <input class="form-control"  ng-model="vm.checkList.content.bDachdurchdringungenText"   type="text" name="bDachdurchdringungenText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Lichtkuppeln/Dachausstiege</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bLichtkuppelnDachausstiege"  value="keine Mängel" name="bLichtkuppelnDachausstiege">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bLichtkuppelnDachausstiege"  value="geringe Mängel" name="bLichtkuppelnDachausstiege">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bLichtkuppelnDachausstiege"  value="große Mängel" name="bLichtkuppelnDachausstiege">
        große Mängel
      </label>
    </div>
    <div class="col-md-7">
      <input class="form-control" ng-model="vm.checkList.content.bLichtkuppelnDachausstiegeText"     type="text" name="bLichtkuppelnDachausstiegeText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Blechverwahrungen</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bBlechverwahrungen"  value="keine Mängel" name="bBlechverwahrungen">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bBlechverwahrungen"  value="geringe Mängel" name="bBlechverwahrungen">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bBlechverwahrungen"  value="große Mängel" name="bBlechverwahrungen">
        große Mängel
      </label>
    </div>

    <div class="col-md-7">
      <input class="form-control" ng-model="vm.checkList.content.bBlechverwahrungenText"   type="text" name="bBlechverwahrungenText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Blechabdeckungen</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bBlechabdeckungen"  value="keine Mängel" name="blechabdeckungen">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bBlechabdeckungen"  value="geringe Mängel" name="bBlechabdeckungenbBlechabdeckungen">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bBlechabdeckungen"  value="große Mängel" name="bBlechabdeckungen">
        große Mängel
      </label>
    </div>
    <div class="col-md-7">
      <input class="form-control"  ng-model="vm.checkList.content.bBlechabdeckungenText"    type="text" name="bBlechabdeckungenText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Unterbau/Holz/Betondecke</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bUnterbauHolzBetondecke"  value="keine Mängel" name="bUnterbauHolzBetondecke">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bUnterbauHolzBetondecke"  value="geringe Mängel" name="bUnterbauHolzBetondecke">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bUnterbauHolzBetondecke"  value="große Mängel" name="bUnterbauHolzBetondecke">
        große Mängel
      </label>
    </div>
    <div class="col-md-7">
      <input class="form-control"  ng-model="vm.checkList.content.bUnterbauHolzBetondeckeText"   type="text" name="bUnterbauHolzBetondeckeText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Türschwellenhöhe</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bTurschwellenhohe"  value="keine Mängel" name="bTurschwellenhohe">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bTurschwellenhohe"  value="geringe Mängel" name="bTurschwellenhohe">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bTurschwellenhohe"  value="große Mängel" name="bTurschwellenhohe">
        große Mängel
      </label>
    </div>
    <div class="col-md-7">
      <input class="form-control" ng-model="vm.checkList.content.bTurschwellenhoheText"    type="text" name="bTurschwellenhoheText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Wärmedämmung</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bWarmedammung"  value="keine Mängel" name="bWarmedammung">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bWarmedammung"  value="geringe Mängel" name="bWarmedammung">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bWarmedammung"  value="große Mängel" name="bWarmedammung">
        große Mängel
      </label>
    </div>

    <div class="col-md-7">
      <input class="form-control"  ng-model="vm.checkList.content.bWarmedammungText"   type="text" name="bWarmedammungText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Entwässerung</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bEntwasserung"  value="keine Mängel" name="bEntwasserung">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bEntwasserung"  value="geringe Mängel" name="bEntwasserung">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bEntwasserung"  value="große Mängel" name="bEntwasserung">
        große Mängel
      </label>
    </div>
    <div class="col-md-7">
      <input class="form-control"  ng-model="vm.checkList.content.entwasserungText"    type="text" name="bEntwasserungText">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Notentwässerung</label>
    <div class="col-md-3">
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bNotentwasserung"  value="keine Mängel" name="bNotentwasserung">
        keine Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bNotentwasserung"  value="geringe Mängel" name="bNotentwasserung">
        geringe Mängel
      </label>
      <label class="radio radio-inline">
        <input type="radio" ng-model="vm.checkList.content.bNotentwasserung"  value="große Mängel" name="bNotentwasserung">
        große Mängel
      </label>
    </div>
    <div class="col-md-7">
      <input class="form-control"  ng-model="vm.checkList.content.bNotentwasserungText" type="text" name="bNotentwasserungText">
    </div>
  </div>

  </div>
  </div>
  </div>

  <div class="col-sm-12">
    <div class="box">
      <div class="box-header red-background">
        <div class="title">
          <div class="icon-edit"></div>
          Zusammenfassung
        </div>
        <div class="actions">
          <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i>
          </a>

          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content">
        
        <div class="form-group">
          <label class="col-md-2 control-label">Empfehlung</label>
          <div class="col-md-10">
            <label class="radio radio-inline">
              <input type="radio" ng-model="vm.checkList.content.cEmpfehlung"  value="Flachdach erscheint in Ordnung" name="cEmpfehlung">
              Flachdach erscheint in Ordnung
            </label>
            <label class="radio radio-inline">
              <input type="radio" ng-model="vm.checkList.content.cEmpfehlung"  value="Empfehlung: Flachdach sollte saniert oder erneuert werden" name="cEmpfehlung">
              Empfehlung: Flachdach sollte saniert oder erneuert werden
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="">Bemerkungen</label>
          <div class="col-md-5">
            <textarea class="form-control" ng-model="vm.checkList.content.cBemerkungen" rows="5" name="cBemerkungen"></textarea>
          </div>
        </div>
        <div class="form-actions form-actions-padding-sm">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <button class="btn btn-primary" type="submit">
                <i class="icon-save"></i>
                Speichern
              </button>
              <button class="btn">Abbrechen</button>
            </div>
          </div>
        </div>
     
      </div>
     
    </div>

  </div>
  </div>


</div>
  </form>


</div>