<div class='col-xs-12'>
<div class='page-header'>
    <h1 class='pull-left'>
        <i class='icon-dashboard'></i>
        <span>Job starten</span>
    </h1>
</div>

<div class='row'>
<div class='col-xs-12'>
<div class='box'>
<div class='box-content box-double-padding'>
<form class='form' style='margin-bottom: 0;'>

    <rc-job-address address="vm.job.workSite"></rc-job-address>
    <hr class='hr-normal'>
    <rc-job-contact contact="vm.job.onSiteContact" icon="icon-user" title="Ansprechpartner" description="Kontaktieren Sie vor Ort die hier angegebene Person."></rc-job-contact>
    <hr class='hr-normal'>
    <rc-job-metadata job="vm.job"></rc-job-metadata>
    <hr class="hr-normal">
    <fieldset>
        <div class='col-sm-4'>
            <div class='lead'>
                <i class='icon-gear text-contrast'></i>
                Termin
            </div>
            <small class='text-muted'>Bitte best&auml;tigen Sie das Datum und die Uhrzeit.</small>
        </div>
        <div class='col-sm-7 col-sm-offset-1'>
            <div class='form-group'>
                <label>Datum</label>
                <div class="datepicker input-group" id="datepicker">
                    <rc_date_time_picker  date="vm.job.startDate" id="datetimepicker"  class="form-control"></rc_date_time_picker>
                 	<span class="input-group-addon">
                            <span data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></span>
                          	</span>
                </div>
            </div>
        </div>
    </fieldset>
    <hr class="hr-normal">
    <fieldset id="form-extend" ng-show="vm.expandedJob">
        <div class='col-sm-4'>
            <div class='lead'>
                <i class='icon-plus text-contrast'></i>
                Joberweiterung
            </div>
            <small class='text-muted'>Geben Sie hier den zus&auml; Zeit- und Materialeinsatz an.</small>
        </div>
        <div class='col-sm-7 col-sm-offset-1'>
            <div class='form-group'>
                <label>Erweiterungsgrund</label>
                <textarea class='autosize form-control' id='extend-reason' placeholder='Erweiterungsgrund'></textarea>
            </div>
            <div class='form-group'>
                <label>Stunden</label>
                <select class="form-control" id="inputSelectMulti">
                    <option>1 Stunde</option>
                    <option>2 Stunden</option>
                    <option>3 Stunden</option>
                    <option>4 Stunden</option>
                    <option>5 Stunden</option>
                </select>
            </div>
            <div class='form-group'>
                <label>Silikon  transparent</label>
                <select class="form-control" id="inputSelectMulti">
                    <option>1 Tube</option>
                    <option>2 Tuben</option>
                    <option>3 Tuben</option>
                    <option>4 Tuben</option>
                    <option>5 Tuben</option>
                </select>
            </div>
            <div class='form-group'>
                <label>Dichtmasse</label>
                <select class="form-control" id="inputSelectMulti">
                    <option>1 Tube</option>
                    <option>2 Tuben</option>
                    <option>3 Tuben</option>
                    <option>4 Tuben</option>
                    <option>5 Tuben</option>
                </select>
            </div>
            <div class='form-group'>
                <label>Klebeband Typ 1</label>
                <select class="form-control" id="inputSelectMulti">
                    <option>1 Band </option>
                    <option>2 Band </option>
                    <option>3 Band </option>
                    <option>4 Band </option>
                    <option>5 Band </option>
                </select>
            </div>
            <div class='form-group'>
                <label>Klebeband Typ 2</label>
                <select class="form-control" id="inputSelectMulti">
                    <option>1 Band </option>
                    <option>2 Band </option>
                    <option>3 Band </option>
                    <option>4 Band </option>
                    <option>5 Band </option>
                </select>
            </div>
        </div>
    </fieldset>
    <div class='form-actions form-actions-padding clearfix' style='margin-bottom: 0;'>
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <div class='btn btn-danger btn-lg' ng-click="vm.cancelJob()">
                    <i class='icon-trash'></i>
                    Job Stornieren
                </div>
            </div>
            <div class="col-md-3">
                <div class='btn btn-info btn-lg' ng-click ="vm.toggleExpandedJob()"  id="button-extend">
                    <i class='icon-ok'></i>
                    Job Erweitern
                </div>
            </div>
            <div class="col-md-3">
                <div class='btn btn-primary btn-lg' ng-click="vm.startJob()">
                    <i class='icon-ok'></i>
                    Job Starten
                </div>
            </div>
        </div>
    </div>
</form>
</div>
</div>
</div>
</div>


</div>