<div class='col-xs-12'>
<div class='row'>
    <div class='col-sm-12'>
        <page-header text="Jobs" icon="icon-table"></page-header>
    </div>
</div>
<div class='row'>
<div class='col-sm-12'>
<div class='box bordered-box orange-border' style='margin-bottom:0;'>
<div class='box-header orange-background'>
    <div class='title'>Jobs</div>
    <div class='actions'>
        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
        </a>

        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
    </div>
</div>
<div class='box-content box-no-padding'>
<div class='responsive-table'>
<div class='scrollable-area'>
<table class='data-table table table-bordered table-striped' style='margin-bottom:0;'>
<thead>
<tr>
    <th>Aktion</th>
    <th>
        Name
    </th>
    <th>
        Auftragsart
    </th>
    <th>
        Dachtyp
    </th>
    <th>
        Adresse
    </th>
    <th>
        Jobtermin
    </th>
    <th>
        Status
    </th>

</tr>
</thead>
<tbody>

<tr ng-repeat="job in vmJobs.rows">
    <td>
        <div class='text-right'>
            <a class='btn btn-info btn-xs' href='checklists.html'>
                <i class='icon-check'></i>
            </a>
            <a class='btn btn-success btn-xs' href='job_start.html'>
                <i class='icon-ok'></i>
            </a>
            <a class='btn btn-danger btn-xs' href='job_end.html'>
                <i class='icon-remove'></i>
            </a>
        </div>
    </td>
    <td>{{job.customer.firstName}} {{job.customer.lastName}}</td>
    <td>{{job.roofType}}</td>
    <td>{{job.orderType}}</td>
    <td>{{job.workSite.street}}</td>

    <td>{{job.startDate | date:'medium'}}</td>
    <td>
        <job-status status="{{job.status}}" />
    </td>

</tr>
</tbody>
</table>

    <div class="load-more">
        <a id="comments-more-activity" class="btn btn-block" data-loading-text="<i class='icon-spinner icon-spin'></i> Loading more..." href="#" ng-click="vmJobs.loadMore()" ng-show="vmJobs.moreAvailable()"><i class="icon-circle-arrow-down"></i>
            Mehr laden...
            <span class="pull-right" style="padding-right: 10px;" ng-show="vmJobs.rows.length < vmJobs.totalFound">showing: {{vmJobs.rows.length}} of {{vmJobs.totalFound}}</span>

        </a>
    </div>

</div>

</div>
</div>
</div>
</div>
</div>


</div>