<div class='col-xs-12'>
<div class='row'>
    <div class='col-sm-12'>
        <div class='page-header'>
            <h1 class='pull-left'>
                <i class='icon-money'></i>
                <span>Rechnung</span>
                <span class='text-muted'>#001</span>
            </h1>
            <div class='pull-right'>
                <div class='btn-group'>
                    <a class="btn" href="#"><i class='icon-print'></i>
                        Print
                    </a>

                    <a class="btn btn-success" href="#"><i class='icon-ok'></i>
                        Mark as paid
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class='row invoice'>
    <div class='col-sm-12'>
        <div class='box'>
            <div class='box-content box-double-padding'>
                <div class='row'>
                    <div class='invoice-header'>
                        <div class='invoice-title'>
                            Roofcare
                            <span class='text-muted'>Dachreparatur</span>
                        </div>
                        <div class='invoice-number'>
                            <span class='invoice-name'>Rechnung</span>
                            <span class='invoice-no'>#001</span>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-4 seller'>
                        <div class='lead text-contrast'>From</div>
                        <i class='icon-globe'></i>
                        <address>
                            <strong>Roofcare</strong>
                            <br>
                            Jahnstraße 35
                            <br>
                            85521 Ottobrunn
                            <br>
                            Deutschland
                            <br>
                            <br>
                            <small>rico@jfgerhard.de</small>
                            <br>
                            <small>(101) 123456-111</small>
                        </address>
                    </div>
                    <div class='col-sm-4 buyer'>
                        <div class='lead text-contrast'>To</div>
                        <i class='icon-globe'></i>
                        <address>
                            <strong>Doe Jane</strong>
                            <br>
                            Short street 456
                            <br>
                            Some village
                            <br>
                            Country
                            <br>
                            <br>
                            <small><a href="mailto:jane@doe.com">jane@doe.com</a></small>
                            <br>
                            <small>(101) 123456-111</small>
                        </address>
                    </div>
                    <div class='col-sm-4 info'>
                        <div class='lead text-muted'>Info</div>
                        Invoice date:
                        <strong>12/09/2013</strong>
                        <br>
                        Bank account:
                        <strong>123 456 789 123</strong>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='responsive-table'>
                            <div class='scrollable-area'>
                                <table class='table table-striped table-hover table-bordered'>
                                    <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Item</th>
                                        <th>
                                            <div class='text-center'>Qty</div>
                                        </th>
                                        <th>
                                            <div class='text-right'>Price</div>
                                        </th>
                                        <th>
                                            <div class='text-right'>Price total</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>AO2</td>
                                        <td>Facilis est esse dolores</td>
                                        <td>
                                            <div class='text-center'>1</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$302.00</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$302.00</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>AO9</td>
                                        <td>Labore ut rerum tempora</td>
                                        <td>
                                            <div class='text-center'>4</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$486.00</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$1,944.00</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>AO3</td>
                                        <td>Dignissimos ut assumenda numquam</td>
                                        <td>
                                            <div class='text-center'>1</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$360.00</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$360.00</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>AO3</td>
                                        <td>Vel sit a nemo</td>
                                        <td>
                                            <div class='text-center'>4</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$250.00</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$1,000.00</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>AO5</td>
                                        <td>Aspernatur voluptas et ullam</td>
                                        <td>
                                            <div class='text-center'>2</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$377.00</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$754.00</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>AO5</td>
                                        <td>Illo quia aliquid consequuntur</td>
                                        <td>
                                            <div class='text-center'>3</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$107.00</div>
                                        </td>
                                        <td>
                                            <div class='text-right'>$321.00</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class='hr-normal'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='text-right text-contrast subtotal'>
                            $4,681.00
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <div class='well comment'>
                            Velit eum et voluptatibus ut iusto possimus mollitia
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>