extends ../../includes/layout

block css
    link(rel='stylesheet', href='/static/dist/app_main.css', media="all", id="")
block header
      include ../../includes/main/header

block content
    div.container
        div.row
            div.col-sm-12
                div.fuelux
                    div.wizard
                        ul.steps
                            li.active(data-target='#step1')
                                span.step Reparatur oder Check
                                i.icon-angle-down.icon-large
                            li(data-target='#step2')
                                span.step Details
                                i.icon-angle-right.icon-large
                            li(data-target='#step3')
                                span.step Kosten
                                i.icon-angle-right.icon-large
                            li(data-target='#step4')
                                span.step Termin
                                i.icon-angle-right.icon-large
                            li(data-target='#step5')
                                span.step Buchung
                                i.icon-angle-right.icon-large

                    ng-view

block footer
    include ../../includes/main/footer
block scripts
    script(defer, src='/static/dist/ngScripts.js')
    script.
        jQuery(document).ready(function() {
            App.init();
        });
