extends ../../includes/layout

block header
    include ../../includes/currentUser
    header
        nav.navbar.navbar-default
            a.navbar-brand(href='home.html')
                | Roofcare Mobil
            a.toggle-nav.btn.pull-left(href='#')
                i.icon-reorder
            div(ng-include="'/partials/account/header-login'")
        div#wrapper
            #main-nav-bg
            nav#main-nav(data-ng-controller='contractorSidebarCtrl')
                .navigation
                    ul.nav.nav-stacked
                        li(data-ng-class="vm.isRouteActive('dashboard')")
                            a(href='/contractor/dashboard')
                                i.icon-dashboard
                                span Home
                        li(data-ng-class="vm.isRouteActive('inbox')")
                            a(href='/contractor/inbox')
                                i.icon-edit
                                span Inbox
                        li(data-ng-class="vm.isRouteActive('jobs')")
                            a(href='/contractor/jobs')
                                i.icon-calendar
                                span Jobs
                        li(data-ng-class="vm.isRouteActive('kunden')")
                            a(href='/contractor/kunden')
                                i.icon-envelope
                                span Kunden
                        li(data-ng-class="vm.isRouteActive('rechnung')")
                            a(href='/contractor/rechnung')
                                i.icon-money
                                span Rechnung

block content
    section#content(data-ng-controller="shell as vm")
        div.container
            div.page-splash.dissolve-animation(data-ng-show="vm.isBusy")
                div(data-cc-spinner="vm.spinnerOptions")
                div.page-splash-message.page-splash-message-subtle {{vm.busyMessage}}
            #content-wrapper.row
                ng-view.shuffle-animation
            footer#footer
                .footer-wrapper
                    .row
                        .col-sm-6.text
                            | Copyright © 2013 Roofcare Mobil
                        .col-sm-6.buttons
        // / jquery [required]

block scripts
    //account module
    script(defer, src='/static/dist/roofcare.min.js')


