extends ../../includes/layout

block css


block header
    include ../../includes/currentUser
    header
        nav.navbar.navbar-default
            a.navbar-brand(href='home.html')
                | Roofcare Mobil
            a.toggle-nav.btn.pull-left(href='#')
                i.icon-reorder
            div(ng-include="'/partials/account/header-login'")
        div#wrapper
            #main-nav-bg
            nav#main-nav(data-ng-controller='ContractorSidebarCtrl as vm')
                .navigation
                    ul.nav.nav-stacked
                        li(data-ng-class="vm.isRouteCurrent('dashboard')")
                            a(href='/contractor/dashboard')
                                i.icon-dashboard
                                span Home
                        li(data-ng-class="vm.isRouteCurrent('inbox')")
                            a(href='/contractor/inbox')
                                i.icon-edit
                                span Inbox
                        li(data-ng-class="vm.isRouteCurrent('jobs')")
                            a(href='/contractor/jobs')
                                i.icon-calendar
                                span Jobs
                        li(data-ng-class="vm.isRouteCurrent('kunden')")
                            a(href='/contractor/kunden')
                                i.icon-envelope
                                span Kunden
                        li(data-ng-class="vm.isRouteCurrent('rechnung')")
                            a(href='/contractor/rechnung')
                                i.icon-money
                                span Rechnung

block content
    section#content(data-ng-controller="shell as vm")
        div.container
            div.page-splash.dissolve-animation(data-ng-show="vm.isBusy")
                div(data-cc-spinner="vm.spinnerOptions")
                div.page-splash-message.page-splash-message-subtle(data-ng-bind="vm.busyMessage")
            #content-wrapper.row
                ng-view.shuffle-animation
            footer#footer
                .footer-wrapper
                    .row
                        .col-sm-6.text
                            | Copyright © 2013 Roofcare Mobil
                        .col-sm-6.buttons
        // / jquery [required]

block scripts
    //bootstrap the app
    script(defer, src='/app/deferredBootstrapApp.js')

    //common module
    script(defer, src='/app/common/services/common.js')
    script(defer, src='/app/common/services/logger.js')
    script(defer, src='/app/common/services/spinner.js')

    //common directives
    script(defer, src='/app/common/directives/pageHeader.js')
    script(defer, src='/app/common/directives/date_time_picker.js')



    //translation
    script(defer, src='/app/translation/services/translationSvc.js')


    //
    //
    //
    ////account module
    script(defer, src='/app/account/account.js')
    script(defer, src='/app/account/resources/userResource.js')
    script(defer, src='/app/account/services/authSvc.js')
    script(defer, src='/app/account/services/identitySvc.js')
    script(defer, src='/app/account/controllers/headerLoginCtrl.js')
    //
    //contractor
    script(defer, src='/app/contractor/contractor.js')
    //
    ////contractor - controllers
    script(defer, src='/app/contractor/controllers/contractorDashboardCtrl.js')
    script(defer, src='/app/contractor/controllers/jobCtrl.js')
    script(defer, src='/app/contractor/controllers/inboxCtrl.js')
    script(defer, src='/app/contractor/controllers/jobStartCtrl.js')
    script(defer, src='/app/contractor/controllers/jobCheckListCtrl.js')
    script(defer, src='/app/contractor/controllers/inboxDetailCtrl.js')
    //script(defer, src='/app/contractor/controllers/kunderCtrl.js')
    //script(defer, src='/app/contractor/controllers/rechnungCtrl.js')
    //
    //contractor services
    script(defer, src='/app/contractor/services/contractorSvc.js')
    //
    ////contractor directives
    script(defer, src='/app/contractor/directives/contractorDashboardJob.js')
    script(defer, src='/app/contractor/directives/jobStatus.js')
    script(defer, src='/app/contractor/directives/job_address_directive.js')
    script(defer, src='/app/contractor/directives/job_contact_directive.js')
    script(defer, src='/app/contractor/directives/job_metadata_directive.js')
    //
    ////contractor filters
    script(defer, src='/app/contractor/filters/onlyToday.js')
    //
    ////contractor resources
    //script(defer, src='/app/contractor/resources/jobResource.js')

    //Angular app
    script(defer, src='/app/app.js')

    //configuration
    script(defer, src='/app/config/config.js')
    script(defer, src='/app/config/config.exceptionHandler.js')
    script(defer, src='/app/config/config.routes.js')

    //layout
    script(defer, src='/app/layout/directives/cc-spinner.js')
    script(defer, src='/app/layout/controllers/shell.js')
    script(defer, src='/app/layout/controllers/Contractor_Sidebar_Ctrl.js')


    //script(defer, src='/static/dist/roofcare.min.js')


