extends ../../includes/layout

block css
    link(href='static/images/meta_icons/apple-touch-icon.png', rel='apple-touch-icon-precomposed')
    link(href='static/images/meta_icons/apple-touch-icon-57x57.png', rel='apple-touch-icon-precomposed', sizes='57x57')
    link(href='static/images/meta_icons/apple-touch-icon-72x72.png', rel='apple-touch-icon-precomposed', sizes='72x72')
    link(href='static/images/meta_icons/apple-touch-icon-76x76.png', rel='apple-touch-icon-precomposed', sizes='76x76')
    link(href='static/images/meta_icons/apple-touch-icon-114x114.png', rel='apple-touch-icon-precomposed', sizes='114x114')
    link(href='static/images/meta_icons/apple-touch-icon-120x120.png', rel='apple-touch-icon-precomposed', sizes='120x120')
    link(href='static/images/meta_icons/apple-touch-icon-144x144.png', rel='apple-touch-icon-precomposed', sizes='144x144')
    link(href='static/images/meta_icons/apple-touch-icon-152x152.png', rel='apple-touch-icon-precomposed', sizes='152x152')


block header
    include ../../includes/currentUser

block content
    .middle-container(data-ng-controller="shell as vm")
      .middle-row
        .middle-wrapper
            .login-container-header
                .container
                    .row
                        .col-sm-12
                            .text-center
                                h1 Roofcare Mobil
            .login-container
                ng-view.shuffle-animation
            .login-container-footer
                .container
                    .row
                        .col-sm-12
                            .text-center
                                a(href='#')
                                    | © Roofcare | 2014


block scripts
    //bootstrap the app
    script(defer, src='/app/deferredBootstrapApp.js')

    //common module
    script(defer, src='/app/common/services/common.js')
    script(defer, src='/app/common/services/logger.js')
    script(defer, src='/app/common/services/spinner.js')

    //common directives
    script(defer, src='/app/common/directives/pageHeader.js')

    //translation
    script(defer, src='/app/translation/services/translationSvc.js')


    ////account module
    script(defer, src='/app/account/account.js')
    script(defer, src='/app/account/resources/userResource.js')
    script(defer, src='/app/account/services/authSvc.js')
    script(defer, src='/app/account/services/identitySvc.js')
    //
    //contractor
    script(defer, src='/app/contractor/contractor.js')
    //
    ////contractor - controllers
    script(defer, src='/app/contractor/controllers/ContractorLoginCtrl.js')
    //
        //Angular app
    script(defer, src='/app/app.js')

    //configuration
    script(defer, src='/app/config/config.js')
    script(defer, src='/app/config/config.exceptionHandler.js')
    script(defer, src='/app/config/config.routes.js')

    //layout
    script(defer, src='/app/layout/directives/cc-spinner.js')
    script(defer, src='/app/layout/controllers/shell.js')


