extends ../../includes/layout

block css
    link(rel='shortcut icon', href='static/images/meta_icons/favicon.ico')
    link(rel='apple-touch-icon', sizes='57x57', href='static/images/meta_icons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='static/images/meta_icons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='static/images/meta_icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='static/images/meta_icons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='static/images/meta_icons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='static/images/meta_icons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='static/images/meta_icons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='static/images/meta_icons/apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='static/images/meta_icons/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='static/images/meta_icons/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='static/images/meta_icons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='static/images/meta_icons/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='static/images/meta_icons/favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileColor', content='#dddddd')
    meta(name='msapplication-TileImage', content='static/images/meta_icons/mstile-144x144.png')
    meta(name='msapplication-config', content='static/images/meta_icons/browserconfig.xml')


block header
    include ../../includes/currentUser

block content
    .middle-container(data-ng-controller="shell as vm")
      .middle-row
        .middle-wrapper
            .login-container-header
                .container
                    .row
                        .col-sm-12
                            .text-center
                                h1 Roofcare Mobil
            .login-container
                ng-view.shuffle-animation
            .login-container-footer
                .container
                    .row
                        .col-sm-12
                            .text-center
                                a(href='#')
                                    | © Roofcare | 2014


block scripts
    //bootstrap the app
    script(defer, src='/app/deferredBootstrapApp.js')

    //common module
    script(defer, src='/app/common/services/common.js')
    script(defer, src='/app/common/services/logger.js')
    script(defer, src='/app/common/services/spinner.js')

    //common directives
    script(defer, src='/app/common/directives/pageHeader.js')

    //translation
    script(defer, src='/app/translation/services/translationSvc.js')


    ////account module
    script(defer, src='/app/account/account.js')
    script(defer, src='/app/account/resources/userResource.js')
    script(defer, src='/app/account/services/authSvc.js')
    script(defer, src='/app/account/services/identitySvc.js')
    //
    //contractor
    script(defer, src='/app/contractor/contractor.js')
    //
    ////contractor - controllers
    script(defer, src='/app/contractor/controllers/ContractorLoginCtrl.js')
    //
        //Angular app
    script(defer, src='/app/app.js')

    //configuration
    script(defer, src='/app/config/config.js')
    script(defer, src='/app/config/config.exceptionHandler.js')
    script(defer, src='/app/config/config.routes.js')

    //layout
    script(defer, src='/app/layout/directives/cc-spinner.js')
    script(defer, src='/app/layout/controllers/shell.js')


