.navbar-right(ng-controller="HeaderLoginCtrl as hlc")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        ul.nav.navbar-nav
            li
                a(href="/signup") Signup
        .form-group
            input.form-control(placeholder="Email", ng-model="username")
        .form-group
            input.form-control(placeholder="Password", ng-model="password")
        button.btn.btn-primary(ng-click="signin(username,password)") Sign In
    ul.nav(ng-show="identity.isAuthenticated()")
        li.dropdown.dark.user-menu
            a.dropdown-toggle(data-toggle='dropdown', href='#')
               span.user-name {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
               b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                   a(href="/admin/users")
                       i.icon-asteric
                       | User Admin
                li
                   a(href="/profile")
                       i.icon-cog
                       | Profile
                li.divider
                li
                   a(ngHref="#", ng-click="signout()")
                       i.icon-signout
                       | Sign Out