doctype html
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1, user-scalable=no')
    link(href='/static/images/meta_icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')

    //Css Bundle base on module name
    //moduleName is pass as parameter from the route.
    link(rel='stylesheet', href='/static/dist/app.' + moduleName + '.css', media="all", id="")

    //In case there is more Css to be added by independent views
    block css


  body.contrast-red

    block header
    block content
    block footer

    include scripts
    block scripts

