doctype html
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1, user-scalable=no')
    link(href='/static/images/meta_icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/dist/app.css', media="all", id="color-settings-body-color")
    //-script(src='js/libs/modernizr-2.0.6.min.js')
  body.contrast-red(ng-app='app')
    include currentUser
    header
        nav.navbar.navbar-default
            a.navbar-brand(href='home.html')
                | Roofcare Mobil
            a.toggle-nav.btn.pull-left(href='#')
                i.icon-reorder
            div(ng-include="'/partials/account/header-login'")
        #wrapper
            #main-nav-bg
            nav#main-nav
                .navigation
                    ul.nav.nav-stacked
                        li.active
                            a(href='/roofer/dashboard')
                                i.icon-dashboard
                                span Home
                        li
                            a(href='/roofer/inbox')
                                i.icon-edit
                                span Inbox
                        li
                            a(href='/roofer/jobs')
                                i.icon-calendar
                                span Jobs
                        li
                            a(href='/roofer/kunden')
                                i.icon-envelope
                                span Kunden
                        li
                            a(href='/roofer/rechnung')
                                i.icon-money
                                span Rechnung
            block content
    include scripts