script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

//Vendors

//Bootstrap
script(defer, src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

//Angular
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js')

//Comomn js scripts
script(defer, src='/static/dist/vendors.common.min.js')

//Module base common vendor scripts
script(defer, src='/static/dist/vendors.' + moduleName +'.min.js')