script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')


//Vendors

//Bootstrap
script(defer, src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

//Angular
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js')

script(defer, src='/static/dist/vendors.js')
script(defer, src='/static/dist/bundle.js')