script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')



script
    window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')

//Vendors

//Bootstrap
script(defer, src='/vendor/bootstrap/dist/js/bootstrap.js')


script(defer, src='/vendor/toastr/toastr.min.js')

//Angular
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js')


//Angular application
script(defer, src='/app/app.js')
script(defer, src='/app/account/rcHeaderLoginCtrl.js')
script(defer, src='/app/main/rcMainCtrl.js')
script(defer, src='/app/common/rcNotifierSvc.js')
script(defer, src='/app/account/rcIdentitySvc.js')
script(defer, src='/app/account/rcAuthSvc.js')
script(defer, src='/app/account/rcUser.js')
script(defer, src='/app/admin/rcUserListCtrl.js')
script(defer, src='/app/account/rcSignUpCtrl.js')
script(defer, src='/app/account/rcProfileCtrl.js')

//-script(defer, src='js/plugins.js')
//script(defer, src='/static/js/script.js')
//script(defer, src='/socket.io/socket.io.js')

//if lt IE 7
      script(defer, src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script(defer)
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})