- if (kostenSideBarActive === undefined)
    kostenSideBarActive = ''


- var kosten_dachreparatur_class = (kostenSideBarActive === 'kosten_dachreparatur' ? 'active' : '')
- var kosten_dachcheck_class = (kostenSideBarActive === 'kosten_dachcheck' ? 'active' : '')
- var kosten_dachwartung_class = (kostenSideBarActive === 'kosten_dachwartung' ? 'active' : '')

ul.list-group.sidebar-nav-v1
    li.list-group-item
        a(href='/kosten_dachreparatur', class=kosten_dachreparatur_class)
            | Dachreparatur
            i.icon-angle-right.pull-right
    li.list-group-item
        a(href='/kosten_dachcheck', class=kosten_dachcheck_class)
            | Dachcheck
            i.icon-angle-right.pull-right
    li.list-group-item
        a(href='/kosten_dachwartung', class=kosten_dachwartung_class)
            | Dachwartung
            i.icon-angle-right.pull-right