- if (dacharbeitenSideBarActive === undefined)
    dacharbeitenSideBarActive = ''


- var zahlen_und_fakten_class = (dacharbeitenSideBarActive === 'zahlen_und_fakten' ? 'active' : '')
- var garantie_class = (dacharbeitenSideBarActive === 'garantie' ? 'active' : '')
- var arbeitsschutz_class = (dacharbeitenSideBarActive === 'arbeitsschutz' ? 'active' : '')
- var mitverantwortung_des_bauherren_class = (dacharbeitenSideBarActive === 'mitverantwortung_des_bauherren' ? 'active' : '')
- var kontraktor_werden_class = (dacharbeitenSideBarActive === 'kontraktor_werden' ? 'active' : '')
- var kunden_werben_kunden_class = (dacharbeitenSideBarActive === 'kunden_werben_kunden' ? 'active' : '')

ul.list-group.sidebar-nav-v1
    li.list-group-item
        a(href='/kosten_dachreparatur')
            | Dachreparatur
            i.icon-angle-right.pull-right
    li.list-group-item
        a(href='/kosten_dachcheck')
            | Dachcheck
            i.icon-angle-right.pull-right
    li.list-group-item
        a(href='/kosten_dachwartung')
            | Dachwartung
            i.icon-angle-right.pull-right