div
    h4 Kontaktieren Sie uns doch direkt
    img.img-responsive.margin-bottom-20(src='/static/images/main/main/roofcare-contact.jpg', alt='Roofcare Kontakt')
    p
        strong Sie erreichen uns 24 Stunden an 7 Tagen pro Woche unter:
    p
        a(href='tel:08007663227') 0800-roofcare
        | (0800-766-322-7)
    p
        | Sie erreichen uns auch per Email:
        a(href='mailto:info@roofcare.de') info@roofcare.de
    p Vereinbaren Sie am Besten sofort einen Termin online
    a.btn-u.btn-u-red(href='order/start') Termin vereinbaren