ul.list-group.sidebar-nav-v1
    li.list-group-item
        a(href='/zahlen_und_fakten')
            | Zahlen und Fakten
            i.icon-angle-right.pull-right
    li.list-group-item
        a(href='/garantie')
            | Garantie
            i.icon-angle-right.pull-right
    li.list-group-item
        a(href='/arbeitsschutz')
            | Arbeitsschutz
            i.icon-angle-right.pull-right
    li.list-group-item
        a(href='/mitverantwortung_des_bauherren')
            | Mitverantwortung des Bauherren
            i.icon-angle-right.pull-right
    li.list-group-item
        a(href='/kontraktor_werden')
            | Kontraktor werden
            i.icon-angle-right.pull-right
    li.list-group-item
        a(href='/kunden_werben_kunden')
            | Kunden werben Kunden
            i.icon-angle-right.pull-right
    li.list-group-item
        a(href='/faq')
            | FAQ
            i.icon-angle-right.pull-right