- if (warumSideBarActive === undefined)
    warumSideBarActive = ''


- var auftragsannahme_class = (warumSideBarActive === 'auftragsannahme' ? 'active' : '')
- var kostentransparenz_class = (warumSideBarActive === 'kostentransparenz' ? 'active' : '')
- var schnelligkeit_class = (warumSideBarActive === 'schnelligkeit' ? 'active' : '')
- var qualitaet_class = (warumSideBarActive === 'qualitaet' ? 'active' : '')

ul.list-group.sidebar-nav-v1
    li.list-group-item
        a.hover-effect(href='/auftragsannahme', class=auftragsannahme_class)
            | 24h/7Tage Auftragsannahme
            i.icon-angle-right.pull-right
    li.list-group-item
        a.hover-effect(href='/kostentransparenz', class=kostentransparenz_class)
            | Kostentransparenz
            i.icon-angle-right.pull-right
    li.list-group-item
        a.hover-effect(href='/schnelligkeit', class=schnelligkeit_class)
            | Schnelligkeit
            i.icon-angle-right.pull-right
    li.list-group-item
        a.hover-effect(href='/qualitaet', class=qualitaet_class)
            | Qualität
            i.icon-angle-right.pull-right
