.container
    .jumbotron
        h1 RoofCare
        p This is a test paragraphat lorem ipsum

    .row
        .col-md-6
            div(ng-include="'partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'partials/main/new-courses'")